src/main/tibco/maven-jenkins/contract/contrat.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1619514940796" xmlns:ns0="http://www.tibco.com/schemas/Lab3/Schemas/Schema.xsd" xmlns:ns1="http://www.tibco.com/schemas/Lab3/JSON_GEN_Schemas/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1619514940796">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Lab3/JSON_GEN_Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Lab3/JSON_GEN_Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="JSONType">
                <xs:all>
                    <xs:element name="base" type="xs:string" minOccurs="0"/>
                    <xs:element name="clouds" type="ns1:cloudsType" minOccurs="0"/>
                    <xs:element name="cod" type="xs:int" minOccurs="0"/>
                    <xs:element name="coord" type="ns1:coordType" minOccurs="0"/>
                    <xs:element name="dt" type="xs:int" minOccurs="0"/>
                    <xs:element name="id" type="xs:int" minOccurs="0"/>
                    <xs:element name="main" type="ns1:mainType" minOccurs="0"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="sys" type="ns1:sysType" minOccurs="0"/>
                    <xs:element name="timezone" type="xs:short" minOccurs="0"/>
                    <xs:element name="visibility" type="xs:int" minOccurs="0"/>
                    <xs:element name="weather" type="ns1:weatherType" minOccurs="0"/>
                    <xs:element name="wind" type="ns1:windType" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="cloudsType">
                <xs:all>
                    <xs:element name="all" type="xs:short" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="coordType">
                <xs:all>
                    <xs:element name="lat" type="xs:float" minOccurs="0"/>
                    <xs:element name="lon" type="xs:float" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="mainType">
                <xs:all>
                    <xs:element name="feels_like" type="xs:float" minOccurs="0"/>
                    <xs:element name="humidity" type="xs:short" minOccurs="0"/>
                    <xs:element name="pressure" type="xs:int" minOccurs="0"/>
                    <xs:element name="temp" type="xs:float" minOccurs="0"/>
                    <xs:element name="temp_max" type="xs:float" minOccurs="0"/>
                    <xs:element name="temp_min" type="xs:float" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="sysType">
                <xs:all>
                    <xs:element name="country" type="xs:string" minOccurs="0"/>
                    <xs:element name="id" type="xs:int" minOccurs="0"/>
                    <xs:element name="sunrise" type="xs:int" minOccurs="0"/>
                    <xs:element name="sunset" type="xs:int" minOccurs="0"/>
                    <xs:element name="type" type="xs:short" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="weatherType">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="icon" type="xs:string" minOccurs="0"/>
                    <xs:element name="id" type="xs:int" minOccurs="0"/>
                    <xs:element name="main" type="xs:string" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="windType">
                <xs:all>
                    <xs:element name="deg" type="xs:short" minOccurs="0"/>
                    <xs:element name="speed" type="xs:float" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:element name="JSON" type="ns1:JSONType"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Lab3/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Lab3/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="address" type="xs:string"/>
            <xs:element name="postcode" type="xs:string"/>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:address"/>
                        <xs:element ref="ns0:postcode" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="intflab3_REST-service">
        <wsdl:port name="intfwslab3_RESTEndpoint0" binding="tns:intfwslab3_RESTEndpoint0Binding">
            <soap:address location="http://localhost:7575/Interface/intflab3_REST-service.serviceagent/intfwslab3_RESTEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="lab3_sp_RESTOp">
            <wsdl:input message="tns:root"/>
            <wsdl:output message="tns:JSON"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwslab3_RESTEndpoint0Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="lab3_sp_RESTOp">
            <soap:operation style="document" soapAction="/Interface/intflab3_REST-service.serviceagent/intfwslab3_RESTEndpoint0/lab3_sp_RESTOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="root">
        <wsdl:part name="parameters" element="ns0:root"/>
    </wsdl:message>
    <wsdl:message name="JSON">
        <wsdl:part name="parameters" element="ns1:JSON"/>
    </wsdl:message>
</wsdl:definitions>