src/main/tibco/maven-jenkins/Schemas/Start.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Lab3/Schemas/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Lab3/Schemas/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="address" type="xs:string"/>
	<xs:element name="postcode" type="xs:string"/>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address"/>
				<xs:element ref="postcode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>